/* 거상 css 코드 시작 점*/

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@500&display=swap');

* {
  font-family: 휴먼편지체;
}

body, html {
  height: 100%; /* 전체 높이 설정 */
  margin: 0; /* 기본 마진  req제거 */
  display: flex; /* flexbox 레이아웃 적용 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  font-size: 0.5em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}


/* 메뉴 바 Start */
.content {
  display: none;
}

nav {
  display: flex; /* flexbox 레이아웃 적용 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.mainMenu {
  right: 30px;
  bottom: 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: black;
  border-radius: 5px;display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  filter: hue-rotate(70deg);
}

.mainMenu a {
  color: #03e9f4;
}

.mainMenu:hover a {
  color: #050801;
}

.mainMenu:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.mainMenu span{
  position: absolute;
  display: block;
}

.mainMenu span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1.5s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
.mainMenu span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1.5s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
.mainMenu span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1.5s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


.mainMenu span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1.5s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

/* 메뉴 바 End */


/* 섹션 1 Start */
#sec1 {
  display: block;
}

.title {
  background-color: #3cb67a;
  border-bottom: black 2px solid;
  padding: 20px 0 30px 0 ;
}

h1 {
  font-size: large;
  position: absolute;
  left: 10px;
  top: 0;
}

.form {
  border-bottom: black 1px dashed;
  padding: 20px;
}

.form p {
  position: absolute;
  top: -8px;
  right: 8px;
  font-weight: bold;
  font-size: 12px;
}

.dropItem {
  position: relative;
  width: 500px;
  height: 500px;
  background: #50d392;
  border: black 2px solid;
}

input {
  font-weight: bold;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background-color: black;
}

input:hover {
  background: #03e9f4;
  color: #050801;
}

input::placeholder {
  color: #03e9f4;
}

input:hover::placeholder {
  color: black;
}

#selectMonster {
  font-weight: bold;
  position: absolute;
  top: 60px;
  left: 8px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background-color: black;
  border-radius: 5px;
}

#selectMonster:hover {
  background: #03e9f4;
  color: #050801;
}


.exp{
  width: 100%;
}

.exp input {
  width: 30px;
  height: 10px;
  font-size: 10px;
}

#exp {
  width: 50%;
}

#imageWrapper img {
  vertical-align: bottom;
}

table th,
table td {
  width: 25%;
  text-align: center;
  padding: 2px;
  border: 1px solid black;
}

table input {
  width: 58px;
  height: 10px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

.quanInput input{
  width: 25px;
  font-size: 10px;
  font-weight: bold;
}

#tableWrapper {
  display: flex;
  flex-direction: row; /* 이미지와 테이블을 세로로 배열 */
  align-items: flex-start;
  justify-content: flex-start;
  height: 50%; /* 뷰포트의 전체 높이 */
  overflow: hidden; /* .tableWrapper 내부에서 스크롤 방지 */
  border-bottom: black 1px solid;
}

#imageWrapper {
  position: sticky; /* 스크롤 시 이미지가 상단에 고정되도록 설정 */
  top: 0; /* 상단과의 거리 */
  height: 100%;
  z-index: 10; /* 다른 콘텐츠 위에 표시되도록 설정 */
}

#imageWrapper img{
  height: 100%;
}

.scollableTable img {
  height: 30px;
  width: 30px;
}

.scollableTable {
  width: 100%;
  height: 100%; /* 이미지 높이를 뺀 나머지 높이를 사용 */
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
}

.scollableTable th {
  width: 100px;
}

.scollableTable::-webkit-scrollbar {
  width: 10px;
}

.scollableTable::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: black;
  border-radius: 10px;
}

.scollableTable::-webkit-scrollbar-track {
  width: 10px;
  background-color: darkgrey;
  border-radius: 40px;
}

#exp {
  position: absolute;
  left: 10px;
  margin-top: 10px;
}

#expTime {
  width: 500px;
  padding-bottom: 10px;
}

#expTime input {
  width: 19px;
}

#expCalc {
  width: 500px;
}

#expCalc input {
  width: 100px;
}

#resultTime {
  font-weight: 700;
}

#resultExp {
  font-weight: 700;
}

.whiteBorderBox {
  margin-top: 5px;
  position: absolute;
  border: white 1px solid;
  width: 343px;
  height: 66px;
  border-radius: 3%;
  margin-top: 10px;
  font-weight: 700;
  font-size: 13px;
}

#resultExpPerHour {
  font-weight: 700;
  padding: 3px 0;
  padding-bottom: 3px ;
  display: block;
  left: 20px;
}

#timeByGoldResult {
  font-weight: 700;
  display: block;
  left: 20px;
}

#totalGoldResult {
  font-weight: 700;
  display: block;
  padding-top: 3px;
}

/* 계산하기 버튼 디자인 */
#submitBtn,
#inchantSubmitBtn {
  position: absolute;
  right: 30px;
  bottom: 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: black;
  border-radius: 5px;
  filter: hue-rotate(110deg);
}

#submitBtn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

  #submitBtn span{
    position: absolute;
    display: block;
  }

#submitBtn span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
#submitBtn span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
#submitBtn span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


#submitBtn span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

/* 섹션1 End */

/*  섹션 2 End */


.inchantItem {
  position: relative;
  width: 500px;
  height: 500px;
  background: #50d3cf;
  border: black 2px solid;
}

.inchantItem .title {
  background-color: #40A19DFF;
}

#inchantImageWrapper {
  position: sticky; /* 스크롤 시 이미지가 상단에 고정되도록 설정 */
  top: 0; /* 상단과의 거리 */
  height: 100%;
  z-index: 10; /* 다른 콘텐츠 위에 표시되도록 설정 */
  display: flex;
  align-items: center;
}

#inchantImageWrapper img{
  height: 40%;
  width: 100px;
}

.image-alt-text {
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: #f2faff;
  animation: glitch1 7s infinite;
}

#inchantImageWrapper:after {
  content: "";
  margin-top: 1.5px ;
  position: absolute;
  left: 34px;
  top: 165px;
  display: block;
  text-align: center;
  width: 30px;
  border-bottom: white 1px solid;
  opacity: 0.6;
}
/*Keyframes*/
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

#inchantImageWrapper {
  position: sticky; /* 스크롤 시 이미지가 상단에 고정되도록 설정 */
  top: 0; /* 상단과의 거리 */
  height: 100%;
  z-index: 10; /* 다른 콘텐츠 위에 표시되도록 설정 */
}
#selectedImageName {
  text-align: center;
}

#inchantTableWrapper {
  display: flex;
  flex-direction: row; /* 이미지와 테이블을 세로로 배열 */
  align-items: flex-start;
  justify-content: flex-start;
  height: 50%; /* 뷰포트의 전체 높이 */
  overflow: hidden; /* .tableWrapper 내부에서 스크롤 방지 */
  border-bottom: black 1px solid;
}

#selectInchant {
  font-weight: bold;
  position: absolute;
  top: 60px;
  left: 8px;
  color: #4c83f3;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}

#selectInchant:hover {
  background: #4c83f3;
  color: white;
}

#sec2 input {
  font-weight: bold;
  color: #4c83f3;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background-color: white;
}

#sec2 input:hover {
  background: #4c83f3;
  color: white;
}

#sec2 input::placeholder {
  color: #4c83f3;
}

#sec2 input:hover::placeholder {
  color: white;
}

#inchantSubmitBtn {
  position: absolute;
  right: 30px;
  bottom: 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  filter: hue-rotate(40deg);
}

#inchantSubmitBtn:hover {
  background: #03e9f4;
  color: white;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#inchantSubmitBtn span{
  position: absolute;
  display: block;
}

#inchantSubmitBtn span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
#inchantSubmitBtn span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
#inchantSubmitBtn span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


#inchantSubmitBtn span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

#inchantBox {
  position: relative;
  height: 143px;
}

#inchantTotal {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 15px;
  font-weight: 700;
  height: 50%;
}

#inchantTotalGoldResult {
  font-weight: 700;
  display: block;
  left: 20px;
  padding: 3px 0;
  padding-bottom: 3px ;
}

#tradePrice {
  font-weight: 700;
  display: block;
  left: 20px;
}

#compareInchantResult {
  font-weight: 700;
  display: block;
  padding-top: 3px;
}