/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* 거상 css 코드 시작 점*/

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@500&display=swap');

* {
  font-family: 휴먼편지체;
}

body, html {
  height: 100%; /* 전체 높이 설정 */
  margin: 0; /* 기본 마진  req제거 */
  display: flex; /* flexbox 레이아웃 적용 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  font-size: 0.5em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}


/* 메뉴 바 Start */
.content {
  display: none;
}

nav {
  display: flex; /* flexbox 레이아웃 적용 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.mainMenu {
  right: 30px;
  bottom: 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: black;
  border-radius: 5px;display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  filter: hue-rotate(70deg);
}

.mainMenu a {
  color: #03e9f4;
}

.mainMenu:hover a {
  color: #050801;
}

.mainMenu:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.mainMenu span{
  position: absolute;
  display: block;
}

.mainMenu span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1.5s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
.mainMenu span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1.5s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
.mainMenu span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1.5s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


.mainMenu span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1.5s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

/* 메뉴 바 End */

/* 섹션 1 Start */
#sec1 {
  display: block;
}

.title {
  background-color: #3cb67a;
  border-bottom: black 2px solid;
  padding: 20px 0 30px 0 ;
}

h1 {
  font-size: large;
  position: absolute;
  left: 10px;
  top: 0;
}

.form {
  border-bottom: black 1px dashed;
  padding: 20px;
}

.form p {
  position: absolute;
  top: -8px;
  right: 8px;
  font-weight: bold;
  font-size: 12px;
}

.dropItem {
  position: relative;
  width: 500px;
  height: 500px;
  background: #50d392;
  border: black 2px solid;
}

input {
  font-weight: bold;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background-color: black;
}

input:hover {
  background: #03e9f4;
  color: #050801;
}

input::placeholder {
  color: #03e9f4;
}

input:hover::placeholder {
  color: black;
}

#selectMonster {
  font-weight: bold;
  position: absolute;
  top: 60px;
  left: 8px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background-color: black;
  border-radius: 5px;
}

#selectMonster:hover {
  background: #03e9f4;
  color: #050801;
}


.exp{
  width: 100%;
}

.exp input {
  width: 30px;
  height: 10px;
  font-size: 10px;
}

#exp {
  width: 50%;
}

#imageWrapper img {
  vertical-align: bottom;
}

table th,
table td {
  width: 25%;
  text-align: center;
  padding: 2px;
  border: 1px solid black;
}

table input {
  width: 58px;
  height: 10px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

.quanInput input{
  width: 25px;
  font-size: 10px;
  font-weight: bold;
}

#tableWrapper {
  display: flex;
  flex-direction: row; /* 이미지와 테이블을 세로로 배열 */
  align-items: flex-start;
  justify-content: flex-start;
  height: 50%; /* 뷰포트의 전체 높이 */
  overflow: hidden; /* .tableWrapper 내부에서 스크롤 방지 */
  border-bottom: black 1px solid;
}

#imageWrapper {
  position: sticky; /* 스크롤 시 이미지가 상단에 고정되도록 설정 */
  top: 0; /* 상단과의 거리 */
  height: 100%;
  z-index: 10; /* 다른 콘텐츠 위에 표시되도록 설정 */
}

#imageWrapper img{
  height: 100%;
}

.scollableTable img {
  height: 30px;
  width: 30px;
}

.scollableTable {
  width: 100%;
  height: 100%; /* 이미지 높이를 뺀 나머지 높이를 사용 */
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
}

.scollableTable th {
  width: 100px;
}

.scollableTable::-webkit-scrollbar {
  width: 10px;
}

.scollableTable::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: black;
  border-radius: 10px;
}

.scollableTable::-webkit-scrollbar-track {
  width: 10px;
  background-color: darkgrey;
  border-radius: 40px;
}

#exp {
  position: absolute;
  left: 10px;
  margin-top: 10px;
}

#expTime {
  width: 500px;
  padding-bottom: 10px;
}

#expTime input {
  width: 19px;
}

#expCalc {
  width: 500px;
}

#expCalc input {
  width: 100px;
}

#resultTime {
  font-weight: 700;
}

#resultExp {
  font-weight: 700;
}

.whiteBorderBox {
  margin-top: 5px;
  position: absolute;
  border: white 1px solid;
  width: 283px;
  height: 60px;
  border-radius: 3%;
  margin-top: 10px;
}

#resultExpPerHour {
  font-weight: 700;
  padding-bottom: 5px ;
  display: block;
  padding: 5px 0;
  left: 20px;
}

#timeByGoldResult {
  font-weight: 700;
  display: block;
  left: 20px;
}

#totalGoldResult {
  font-weight: 700;
  display: block;
  padding-top: 5px;
}

/* 계산하기 버튼 디자인 */
#submitBtn,
#inchantSubmitBtn {
  position: absolute;
  right: 30px;
  bottom: 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: black;
  border-radius: 5px;
  filter: hue-rotate(110deg);
}

#submitBtn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

  #submitBtn span{
    position: absolute;
    display: block;
  }

#submitBtn span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
#submitBtn span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
#submitBtn span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


#submitBtn span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

/* 섹션1 End */

/*  섹션 2 End */

.inchantItem {
  position: relative;
  width: 500px;
  height: 500px;
  background: #50d3cf;
  border: black 2px solid;
}

.inchantItem .title {
  background-color: #40A19DFF;
}

#inchantImageWrapper {
  position: sticky; /* 스크롤 시 이미지가 상단에 고정되도록 설정 */
  top: 0; /* 상단과의 거리 */
  height: 100%;
  z-index: 10; /* 다른 콘텐츠 위에 표시되도록 설정 */
}

#inchantImageWrapper img{
  height: 100%;
}

#inchantImageWrapper {
  position: sticky; /* 스크롤 시 이미지가 상단에 고정되도록 설정 */
  top: 0; /* 상단과의 거리 */
  height: 100%;
  z-index: 10; /* 다른 콘텐츠 위에 표시되도록 설정 */
}

#inchantTableWrapper {
  display: flex;
  flex-direction: row; /* 이미지와 테이블을 세로로 배열 */
  align-items: flex-start;
  justify-content: flex-start;
  height: 50%; /* 뷰포트의 전체 높이 */
  overflow: hidden; /* .tableWrapper 내부에서 스크롤 방지 */
  border-bottom: black 1px solid;
}

#selectInchant {
  font-weight: bold;
  position: absolute;
  top: 60px;
  left: 8px;
  color: #4c83f3;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}

#selectInchant:hover {
  background: #4c83f3;
  color: white;
}

#sec2 input {
  font-weight: bold;
  color: #4c83f3;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background-color: white;
}

#sec2 input:hover {
  background: #4c83f3;
  color: white;
}

#sec2 input::placeholder {
  color: #4c83f3;
}

#sec2 input:hover::placeholder {
  color: white;
}

#inchantSubmitBtn {
  position: absolute;
  right: 30px;
  bottom: 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  filter: hue-rotate(40deg);
}

#inchantSubmitBtn:hover {
  background: #03e9f4;
  color: white;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#inchantSubmitBtn span{
  position: absolute;
  display: block;
}

#inchantSubmitBtn span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
#inchantSubmitBtn span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
#inchantSubmitBtn span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


#inchantSubmitBtn span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
